@import url("https://fonts.googleapis.com/css2?family=Domine&family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 300;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #599ba8;
  color: #ffffff;
}

.header-container,
.footer-container {
  padding: 25px 50px;
  background: #10100f;
}

.header-container {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  z-index: 100;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-container img {
  width: 11%;
  display: flex;
}

.header-logo-name {
  text-transform: uppercase;
  font-size: 16px;
  color: #88c2ce;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

.navigation-container {
  display: flex;
  column-gap: 30px;
  font-size: 1vw;
  transition: all 0.3s ease;
}

.navigation-container li a {
  background-color: #88c2ce;
  padding: 9px 20px;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
}

.navigation-container li a:hover {
  background-color: #599ba8;
}

main {
    display: flex;
    place-items: center;
    background: #f6f6f6;
    width: min(700px, 95%);
    border-radius: 20px;
    margin: auto;
}

.autorization {
    padding: 60px;
}

/* Button Group */

input {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    outline: 0;
    border-radius: 5px;
    background-color: transparent;
    margin: 4px 0 18px;
    font-size: 0.85rem;
    font-weight: 600;
    transition: all 0.5s;
}

input:focus {
    border: 2px solid #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000;
    transition: background-color 5000s ease-in-out 0s;
}

/* Login Button */

.login-btn {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 24px;
    margin: 12px 0 24px;
    border: 2px solid #6b7280;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.5s;
}

.login-btn:hover {
    background-color: #000;
    color: #eee;
}

/* Links */

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.autorization a {
    color: #000;
    font-size: 0.88rem;
    font-weight: 600;
    letter-spacing: -1px;
    transition: all 0.4s ease;
}

a:hover {
    color: rgb(13, 133, 185);
}
