@import url("https://fonts.googleapis.com/css2?family=Domine&family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 300;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #599ba8;
  color: #ffffff;
}

.header-container,
.footer-container {
  padding: 25px 50px;
  background: #10100f;
}

.header-container {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-logo {
  text-transform: uppercase;
  font-size: 16px;
  color: #88c2ce;
  font-weight: 600;
}

.navigation-container {
  display: flex;
  column-gap: 30px;
  font-size: 1vw;
  transition: all 0.3s ease;
}

.navigation-container li a {
  background-color: #88c2ce;
  padding: 9px 20px;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
}

.navigation-container li a:hover {
  background-color: #599ba8;
}

.catalog-container h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

.catalog-items {
  min-height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.catalog-items a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.Tourist-top img,
.AudioEquip-top img,
.PowerTools-top img,
.Kids-top img {
    width: 100%;
    height: 100%;
}

.items-Tourist,
.items-AudioEquip,
.items-PowerTools,
.items-Kids {
    width: 300px;
    margin: 0 30px;
    background: #c4dfe6;
    padding: 20px;
    border: 1px solid #f1e7e8;
    text-align: center;
    
}

.Kids-bottom,
.PowerTools-bottom,
.AudioEquip-bottom,
.Tourist-bottom {
  text-transform: uppercase;
  font-weight: bold;
  
}

.Kids-bottom a:focus,
.PowerTools-bottom a:focus,
.AudioEquip-bottom a:focus,
.Tourist-bottom a:focus {
  color: #3f4c52;
}

.product_link {
  color: #10100f;
}