@import url("https://fonts.googleapis.com/css2?family=Domine&family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 300;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(89, 155, 168);
  background: linear-gradient(
    112deg,
    rgba(89, 155, 168, 1) 22%,
    rgba(48, 157, 226, 1) 67%
  );
  color: #ffffff;
}

.header-container,
.footer-container {
  padding: 25px 50px;
  background: #10100f;
}

.header-container {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-container img {
  width: 11%;
  display: flex;
}

.header-logo-name {
  text-transform: uppercase;
  font-size: 16px;
  color: #88c2ce;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-items {
  display: flex;
  column-gap: 30px;
  list-style-type: none;
  font-size: 1vw;
  transition: all 0.3s ease;
}

.navbar-items li a {
  background-color: #88c2ce;
  padding: 9px 20px;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
}
.navbar-items li a:hover {
  background-color: #599ba8;
}

/* content-container */

.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 70px 50px;
}

.content-container h1 {
  font-size: 28px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  column-gap: 30px;
  background-color: #c4dfe6;
  color: #10100f;
  border-radius: 12px;
}

/* main section 1 */

.main-info {
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  font-size: 20px;
}
.image-container {
  width: 30%;
  align-self: flex-end;
}

.image {
  width: 100%;
  height: auto;
}

/* main section 2 */

.section-why,
.section-how {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.list-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* navbar */

.navbar-burger-icon .line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: 0.3s;
}

.navbar-burger-item {
  display: none;
}

/* laptop and mobile adaptation */

@media screen and (max-width: 900px) {
  h1,
  h2 {
    font-size: medium;
  }
  p,
  li {
    font-size: small;
  }
}

@media screen and (max-width: 700px) {
  .image-container img {
    display: none; /* hide image */
  }

  .header-container {
    padding: 15px;
    justify-content: space-between;
  }

  .content-container {
    padding: 20px;
  }

  .content-container h1 {
    font-size: medium;
    align-self: center;
  }

  .list-container {
    padding: 0;
  }

  .main-content {
    flex-direction: column;
    padding: 20px;
  }

  .main-info {
    align-self: flex-start;
    row-gap: 15px;
  }

  .section-how,
  .section-why {
    margin: 0;
    padding: 10px;
  }

  .section-how h2,
  .section-why h2 {
    align-self: center;
  }

  /* NAVBAR */

  .navbar {
    width: 100%;
    background-color: #33545b;
    position: absolute;
    top: 0;
    left: 0;
  }

  .navbar-burger-item {
    display: block;
    z-index: 100;
  }

  .navbar-burger-icon {
    width: 30px;
    height: 26px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-items {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
  }

  .navbar.burgerView .navbar-items {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0px;
    max-height: 200px;
    row-gap: 10px;
  }
  .navbar-items li a {
    display: none;
  }

  .navbar.burgerView .navbar-items li {
    display: flex;
  }

  .navbar.burgerView .navbar-items li a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #5dc9df90;
    border-radius: 0px;
  }

  .burgerView .line:nth-child(1),
  .burgerView .line:nth-child(4) {
    height: 0px;
  }

  .burgerView .line:nth-child(2) {
    transform: rotateZ(40deg) scaleX(0.95) translate(5px, 5px);
    transition: 0.7s;
  }

  .burgerView .line:nth-child(3) {
    transform: rotateZ(-40deg) scaleX(0.95) translate(2px, -1px);
    transition: 0.7s;
  }
}
