@import url("https://fonts.googleapis.com/css2?family=Domine&family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 300;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(89,155,168);
  background: linear-gradient(112deg, rgba(89,155,168,1) 22%, rgba(48,157,226,1) 67%);
  color: #ffffff;
}

.header-container,
.footer-container {
  padding: 25px 50px;
  background: #10100f;
}

.header-container {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-container img {
  width: 11%;
  display: flex;
}

.header-logo-name {
  text-transform: uppercase;
  font-size: 16px;
  color: #88c2ce;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

.navigation-container {
  display: flex;
  column-gap: 30px;
  list-style-type: none;
  font-size: 1vw;
  transition: all 0.3s ease;
}

.navigation-container li a {
  background-color: #88c2ce;
  padding: 9px 20px;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
}
.navigation-container li a:hover {
  background-color: #599ba8;
}

.burger-menu {
  display: none; /* Скрываем бургер-меню по умолчанию */
  flex-direction: column;
  cursor: pointer;
}

.burger {
  width: 30px;
  height: 4px;
  background-color: #e6e5e5; /* Цвет бургер-меню */
  margin: 4px 0; /* Отступы между полосками */
}

.navigation-container .link a {
  text-decoration: none;
  padding: 10px;
}

.navigation-wrapper {
  position: relative;
}

/* content-container */

.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 70px 50px;
}

.content-container h1 {
  font-size: 28px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  column-gap: 30px;
  background-color: #c4dfe6;
  color: #10100f;
  border-radius: 12px;
}

/* main section 1 */

.main-info {
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  font-size: 20px;
}
.image-container {
  width: 30%;
  align-self: flex-end;
}

.image {
  width: 100%;
  height: auto;
}

@media (max-width: 700px) {
  img {
      display: none; /* Скрываем изображение */
  }

  .navigation-container {
    display: none;
    flex-direction: column; 
    position: relative; 
    background-color: white; 
    width: 100%;
    top: 50px;
    left: 0; 
    z-index: 1000;
  }

  .navigation-container.active {
      display: flex; /* Показываем меню, когда оно активно */
  }

  .burger-menu {
      display: flex; /* Показываем бургер-меню на мобильных устройствах */
  }

  .content-container {
    padding: 20px;
  }

  .content-container h1 {
    font-size: medium;
  }

  .list-container {
    padding: 0;
  }

  .main-content {
    flex-direction: column;
    padding: 10px;
  }

  .main-content p {
    font-size: small;
  }

  .section-how,
  .section-why {
    margin: 0;
    padding: 10px;
  }
}

/* main section 2 */

.section-why,
.section-how {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.list-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}


@media screen and (max-width: 600px) {
  body {
      font-size: 10px;
  }

  .header-logo-name{
    font-size: 10px;
  }

  .header-container {
    padding: 10px;
  }
}
