@import url("https://fonts.googleapis.com/css2?family=Domine&family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 300;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(89,155,168);
  background: linear-gradient(112deg, rgba(89,155,168,1) 22%, rgba(48,157,226,1) 67%);
  color: #ffffff;
}

.header-container,
.footer-container {
  padding: 25px 50px;
  background: #10100f;
}

.header-container {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-container img {
  width: 11%;
  display: flex;
}

.header-logo-name {
  text-transform: uppercase;
  font-size: 16px;
  color: #88c2ce;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

.navigation-container {
  display: flex;
  column-gap: 30px;
  /* font-size: 14px; */
  font-size: 1vw;
  transition: all 0.3s ease;
}

.navigation-container li a {
  background-color: #88c2ce;
  padding: 9px 20px;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
}
.navigation-container li a:hover {
  background-color: #599ba8;
}

/* content-container */

.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 70px 50px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  column-gap: 30px;
  background-color: #c4dfe6;
  color: #10100f;
  border-radius: 12px;
}

/* main section 1 */

.main-info {
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.image-container {
  width: 30%;
  align-self: flex-end;
}

@media (max-width: 900px) {
  img {
      display: none; /* Скрывает изображение */
  }
}
.image {
  width: 100%;
  height: auto;
}

/* main section 2 */

.section-why,
.section-how {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.list-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.catalog-items {
  width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog-container h2 {
  display: flex;
  justify-content: center;
  padding: 25px 10px;
}

@media screen and (max-width: 600px) {
  body {
      font-size: 10px;
  }

  .header-logo-name{
    font-size: 10px;
  }

  .header-container {
    padding: 10px;
  }
}
